
 

 * {
    margin: 10px;
 }

.destra {
    color: blueviolet;
    text-align: right;
}



h1 {
        color: red;
}

h2 {
        color: blue;
}

h3 {
        color: black;
}

h4 {
        color: green
}

h5 {
        color: goldenrod;
}

h6{
        color: brown;
}

.titolo {
        color: blue;
}

.argomento {
        text-align: center;
}

.stile {
        margin: 150px;
        padding: 70px;
}

h1, h2, .first-h3, h4, h5, h6 {
        background-color: aquamarine;
}