
 

 * {
    margin: 10px;
 }

.destra {
    color: blueviolet;
    text-align: right;
}



h1 {
        color: red;
}

h2 {
        color: blue;
}

h3 {
        color: black;
}

h4 {
        color: green
}

h5 {
        color: goldenrod;
}

h6{
        color: brown;
}

.titolo {
        color: blue;
}

.argomento {
        text-align: center;
}

.stile {
        margin: 150px;
        padding: 70px;
}

h1, h2, .first-h3, h4, h5, h6 {
        background-color: aquamarine;
}

a:hover {
        background-color: yellow;
}

li:nth-of-type(5) {
        color: red;
        font-size: 60px;

}


.par .sopra {
        color: blueviolet;
}

.par p {
        color: aqua;
}

.par #sotto {
        color: black;
}

.sezione-3 {
        color: chocolate;
        text-align: center;
}

.titolo {
        background-color: white;
        color: chocolate;

} 

#p4 {
        color: rgb(255, 0, 0);
}

#p5{
        color: #FF0000;
}



